<center>
  <div ng-if="!auth">
    <div><br><br><br></div>
      <img src="img/acmelogo.png"></img>
      <br><br>
      <form style="width: 25%;">
          <input type="text" style="border:none;" class="form-control" placeholder="Username" ng-model="user.email" /><br>
          <input type="password" style="border:none;" class="form-control" placeholder="Password" ng-model="user.password" /><br>
        <br />
        <input class="btn btn-primary btn-lg" type="submit" ng-click="authenticate(user)" style="background-color: white; color:#E82D50; border:none;" value="Sign In" />
      </form>
  </div>
</center>

<style>
  body {  background-color: #E82D50; }
</style>
