<div class="AppBody">
  <div class="Wrap">
    <h1 class="AppLogo--stacked"></h1>
      
    <form id="LoginForm">
      <div class="FormField">
        <input type="text" placeholder="Username" ng-model="user.email">
      </div>
      <div class="FormField">
        <input type="password" placeholder="Password" ng-model="user.password">
      </div>
      <div class="FormField--checkbox">
        <input type="checkbox" name="remember_me" id="remember_me">
        <label for="remember_me">Remember me</label>
      </div>
      
      <div class="FormField--submit">
        <p>
          <button class="Button--large Button--white" ng-click="authenticate(user)">Sign in</button>
        </p>
        <ul>
          <li><a href="#">Need Help?</a></li>
        </ul>
      </div>
    </form>
  </div>
</div>
