<header class="AppHeader">
    <div class="Wrap">
      <h1 class="AppLogo">
        <a ng-href="/#/">AcmeHealth</a>
      </h1>
      
      <nav class="AppHeader-nav">
        <ul>
          <li><a ng-href="/#/">Schedule</a></li>
          <li class="is-active"><a ng-href="/#/requests">Requests<span ng-if="requests.length">{{requests.length}}</span></a></li>
        </ul>
      </nav>
      
      <div class="UserMenu">
        <div class="UserMenu-avatar">
          <img src="{{idToken.claims.picture}}">
        </div>
        
        <a class="UserMenu-name" ng-click="signout()">{{idToken.claims.name}}</a>
        <a class="UserMenu-toggle" ng-click="signout()"></a>
      </div>
      
    </div>
  </header>

<div class="AppBody">
  <div class="Wrap" ng-if="requests">
    <div class="AppointmentCard has-indicator" ng-repeat="req in requests">
      <div class="AppointmentCard-time">{{req.startTime | date:"MMMM dd, yyyy' - 'hh:mm a"}}</div>
        <a class="AppointmentCard-menuToggle"></a>
        <div class="AppointmentCard-content">
          <div class="AppointmentCard-label">Patient Name</div>
          <div class="AppointmentCard-description">
            <strong>{{req.patient}}</strong>
          </div>
          <div class="AppointmentCard-label">Provider</div>
          <div class="AppointmentCard-description">
            <strong>{{req.provider}}</strong>
          </div>
          <div class="AppointmentCard-label">Reason for Visit</div>
          <div class="AppointmentCard-description">
            <p>{{req.comment}}</p>
          </div>
        
        </div>

        <!-- // Provider view -->
        <div class="AppointmentCard-actions" ng-show="idToken.claims.groups.indexOf('Providers') >= 0">
          <a class="Button--greenOutline" href="#">Suggest new time</a>
          <a class="Button--green" ng-click="confirmAppointment(req)">Confirm</a>
          <a class="Button--gray" ng-click="cancelAppointment(req)">Cancel</a>
        </div>

        <!-- // Patient view -->
        <div class="AppointmentCard-actions" ng-show="idToken.claims.groups.indexOf('Patients') >= 0">
          <a class="Button--gray" ng-click="deleteAppointment(req)">Cancel</a>
        </div>

        <!-- // Read-only view -->
        <div class="AppointmentCard-actions" ng-show="idToken.claims.groups.indexOf('Providers-read-only') >= 0">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="AppBody">
  <div class="Wrap" ng-if="requests.length === 0">
    <center> No <b>current</b> requests.</center>
  </div>
</div>