<header >
    <nav class="navbar navbar-default  navbar-fixed-top" style="background-color:#E82D50;">
        <div class="container-fluid">
          <div class="navbar-header">
               <a href="#/" style="font-size:20px; color:white;">Schedule    |     </a>
               <td style="padding:30px;"> <a href="#/requests" style="font-size:20px; color:white;">Requests</a>
            </div>
          	<!-- Right Justified Nav -->
          	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            	<ul class="nav navbar-nav navbar-right">
              		<li> <a href="#/" style="font-size:20px; color:white;">{{tokens.idToken.claims.name}}</a></li>
              		<li ng-if="!session"> <td style="padding:30px;"> <a href="#/login" ng-click="signout()" style="font-size:20px; color:white;">Login</a></li>
              		<li ng-if="session"> <td style="padding:30px;"> <a href="#/login" ng-click="signout()" style="font-size:20px; color:white;">Sign Out</a></li>
            	</ul>
          	</div>
        </div>
    </nav>
</header>
<br><br>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6" ng-if="requests">
  	<center>
  		<br><br>
  		<ul ng-repeat="req in requests" style="background-color: white; border: 5px solid gray; box-shadow: 10px 10px 5px grey;">
  			<div class="box">{{req.startTime | date:"MMMM dd yyyy'-'hh:mma"}}</div> <br>
        <br>
        <table style="width:80%" ng-show="tokens.idToken.claims.groups.indexOf('Providers') >= 0">
          <tr><td style="color:gray; text-transform: uppercase;">Patient Name</td> <td> <b>{{req.patient}}</b> <br></td></tr>
          <tr><td style="color:gray; text-transform: uppercase;">Reason for visit </td> <td>{{req.comment}} <br></td></tr>
          <tr><td><br><br></td></tr>
          <tr align="center">
            <td><button>Suggest new time</button></td>
            <td><button ng-click="confirmAppointment(req)">Confirm</button></td>
            <td><button ng-click="cancelAppointment(req)">Cancel</button></td>
        </table>
        <table style="width:80%" ng-show="tokens.idToken.claims.groups.indexOf('Patients') >= 0">
          <tr><td style="color:gray; text-transform: uppercase;">Patient Name</td> <td></td><td> <b>{{req.patient}}</b> <br></td></tr>
          <tr><td style="color:gray; text-transform: uppercase;">Reason for visit </td></td><td> <td>{{req.comment}} <br></td></tr>
          <tr><td><br><br></td></tr>
          <tr align="center">
            <td aligh="center"></td>
        </table>
        <br>
        <button ng-click="cancelAppointment(req)">Cancel</button><br>
        {{tokens.idToken.claims.groups}}
  		</ul>
  	</center>
  </div>
  <div class="col-md-12" ng-show="!requests">
        <br><br>
        <center>
          No <b>current</b> requests
        </center>
  </div>
  <div class="col-md-3"></div>
</div>




<style>
  body {
    background-color: #fafafa
  }

  .box {
    background-color: #E82D50;
    width: 200px;
    text-align:left;
    color: white;
    border: 1px solid gray;
    padding: 0px;
    margin: 0px;
  }

  .centerDiv {
    position: absolute;
    top: 20%;
    left: 20%;
    margin-top: -50px;
    margin-left: -50px;
    width: 500px;
    height: 500px;
  }
</style>