<header >
    <nav class="navbar navbar-default  navbar-fixed-top" style="background-color:#E82D50;">
        <div class="container-fluid">
	        <div class="navbar-header">
               <a href="#/" style="font-size:20px; color:white;">Schedule    |     </a>
               <td style="padding:30px;"> <a href="#/requests" style="font-size:20px; color:white;">Requests</a>
          	</div>
          	<!-- Right Justified Nav -->
          	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            	<ul class="nav navbar-nav navbar-right">
              		<li> <a href="#/" style="font-size:20px; color:white;">{{tokens.idToken.claims.name}}</a></li>
              		<li ng-if="!session"> <td style="padding:30px;"> <a href="#/login" ng-click="signout()" style="font-size:20px; color:white;">Login</a></li>
              		<li ng-if="session"> <td style="padding:30px;"> <a href="#/login" ng-click="signout()" style="font-size:20px; color:white;">Sign Out</a></li>
            	</ul>
          	</div>
        </div>
    </nav>
</header>
<br><br>
<div class="row" ng-if="auth">
	<div class="col-md-4" style="background-color: white; border: 1px solid gray;" ng-show="sorted"><br />
		<ul ng-repeat="(key, date) in sorted" style="list-style: none;">
			{{key}} <br><br>
			<!-- {{date | date: 'MMMM'}} -->
			<li ng-repeat="(key, val) in date | limitTo:1" ng-click="updateAppointmentList(key)">
				<table style="width: 100%">
					<tr>
						<td><div class="circle"> {{key | date: 'dd'}}</div></td>
						<td> {{key | date: 'EEEE'}} </td>
						<td ng-if="val.length > 1"> {{val.length}} Appointments </td>
						<td ng-if="val.length == 1"> {{val.length}} Appointment </td>
					</tr>
				</table>
			</li>
		</ul>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-6" ng-show="appointments.length">
		<br><br>
		<ul ng-repeat="appointment in appointments" style="background-color: white; border: 5px solid gray; box-shadow: 10px 10px 5px grey;">
			<div class="box">{{appointment.startTime | date:'hh:mma'}}</div>
			<br>
			<table style="width:100%">
				<tr><td style="color:gray; text-transform: uppercase;">Patient Name</td> <td> <b>{{appointment.patient}}</b> <br></td></tr>
				<tr><td style="color:gray; text-transform: uppercase;">Reason for visit </td> <td>{{appointment.comment}} <br></td></tr>
			</table>
			<br><br>
		</ul>
		<br>
	</div>
	<div class="col-md-12" ng-show="!appointments.length">
		<br><br><center>No <b>confirmed</b> requests</center>
    </div>
	<div class="col-md-1"></div>
</div>

<div ng-if="!auth">
	<br />
	<h3> Please <a href="#/login"> Sign in to continue</a></h3>
</div>

<style>
  body {
    background-color: #fafafa
  }

  .circle
	{
	width:50px;
	height:50px;
	border-radius:50%;
	font-size:20px;
	color:#fff;
	line-height:50px;
	text-align:center;
	background:#000
	}

	.box {
    background-color: #E82D50;
    width: 100px;
    text-align:center;
    color: white;
    border: 1px solid gray;
    padding: 0px;
    margin: 0px;
}
</style>